.order {
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.order-items-list {
  list-style: none;
  padding: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.item-image-order {
  width: 15%;
  height: 20%;
  object-fit: cover;
  border-radius: 8px;
}
.item-image-shop {
  width: 50%;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.item-details {
  display: flex;
  flex-direction: column;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.order-info {
  flex: 1;
}

.purchase-button-container {
  display: flex;
  align-items: flex-start;
}
